@font-face {
    font-family: "Cellofy";
    src: url("./fonts/cellofy.extblkextexp.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

.left_side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    max-width: 70vw;
}

.left_side p {
    max-width: 45vw;
}

.left_side img {
    height: auto;
    max-width: 45vw;
}

.spacer {
    height: 50px;
    width: 100%;
}

a {
    transition: text-shadow 0.2s ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-shadow:
        0 0 1px #fff,
        0 0 4px #fff,
        0 0 7px #fff,
        0 0 10px #fff;
}

body {
    padding: 10vw 4vw 4vw 4vw;
    background-color: black;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;

    background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 5%, transparent 95%, black 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, black 0%, transparent 5%, transparent 95%, black 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

p {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: right;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Cellofy", 'Times New Roman', Times, serif;
    font-size: 7vw;
    text-align: right;
    padding: 0;
    margin: 0 0 25px 0;
    line-height: 0.8;
}

h2 {
    font-family: "Cellofy", 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 0;
    margin: 0 0 60px 0;
    line-height: 0.8;
    position: fixed;
    bottom: 3vh;
    left: 4vw;
}

h3 {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    position: fixed;
    bottom: 3vh;
    left: 4vw;
}

@media (max-width: 700px) {
    body {
        padding: 35vw 4vw 4vw 4vw;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 35px;
        top: 3vh;
        left: 4vw;
    }

    h3 {
        margin: 70px 0 0 0;
        top: 3vh;
        left: 4vw;
    }

    .left_side {
        max-width: 100vw;
    }

    .left_side p {
        max-width: 85vw;
    }

    .left_side img {
        height: auto;
        max-width: 85vw;
    }

    .spacer {
        height: 20px;
    }
}