:root {
    --sidebarWidth: 14vw;
    --logoAspectRatio: 3.8;
    --logoHeight: calc(var(--sidebarWidth) * 0.6);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

body {
    margin: 0;  
    background-color: #111;
    position: relative;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #444;
}

p {
    margin: 0;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

.page_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
}


#joel-logo {
    position: fixed;
    bottom: calc(var(--logoHeight)*1.1);
    left: calc(var(--logoHeight)/1.5);
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
    height: var(--logoHeight);
    width: auto;
    z-index: 99;
}

#right-sigil {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--logoHeight)*2);
    z-index: 100;
}

.joel_logo_mobile {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1000px; /* constant width */
    max-width: 90vw;
    padding: 45px;

}

.divider {
    width: 100%;
    height: 1px;
    background-color: #fff; 
    border: none;
    align-self: stretch;
}

.spacer1 {
    width: 100%;
    height: 10px;
}

.spacer2 {
    width: 100%;
    height: 60px;
}

.spacer3 {
    width: 100%;
    height: 100px;
}

.mobile_spacer {
    display: none;
}

.header {
    height: 16px;
    display: flex;
    align-items: center;
}

.header_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.header_menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar {
    background-color: #111;
    height: 56px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.navbar_menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar_menu li {
    font-weight: bold;
}

.content {
    height: 500px;
    width: 100%;
    display: flex;
}

.photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.photo {
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 80%;
    object-fit: contain;
}

.text_container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 50px;
}

.box-button {
    display: inline-block;
    padding: 7px 15px;
    background-color: #fff;
    color: #111;
    text-decoration: none;
}

.box-button:hover {
    background-color: #444;
    color: #fff;
}

.page_end {
    width: 100%;
    height: 250px;
    display: flex;
    padding: 30px 30px 30px 45px;
    justify-content: flex-end;
    align-items: flex-end;
}

.page_end p {
    color: #eee;
    font-weight: bold;
}

#end-logo {
    display: none;
}

#endbar-sigil {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 999;
}

.gallery_heading {
    font-weight: bold;
    margin: 0;
}

.gallery_grid {
    display: flex;
    gap: 60px 30px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 60px;
}

.gallery_grid img {
    height: 350px;
    width: auto;
}

.gallery_grid img:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #111111e6;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.close:hover {
    color: #444;
}

@media (max-width: 1350px) {
    .main {
        width: 800px;
    }
}

@media (max-width: 1050px) {
    .main {
        width: 600px;
    }
    .content {
        height: auto;
        padding-bottom: 50px;
    }
}

@media (max-width: 750px) {
    #joel-logo {
        display: none;
    }

    .main {
        padding: 35px 20px 0 20px;
    }

    .joel_logo_mobile {
        display: block;
        margin-left: calc(-1*var(--logoHeight)*.17);
    }

    .joel_logo_mobile img {
        width: 60%;
    }

    #right-sigil {
        width: calc(var(--logoHeight)*3);
    }

    .mobile_spacer {
        display: block;
        width: 100%;
        height: 20px;
    }

    .header {
        height: auto;
        align-items: center;
    }
    
    .header_container {
        justify-content: flex-start;
    }

    .header_menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    #top-bars {
        display: none;
    }

    .navbar {
        height: auto;
        align-items: flex-start;
        position: relative;
        background-color: transparent;
    }
    
    .navbar_menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 50px;
    }

    .photo_container,
    .text_container {
        width: 100%;
        height: auto;
    }

    .gallery_grid {
        justify-content: center;
    }

    .page_end {
        justify-content: space-between;
    }

    #end-logo {
        display: flex;
        height: auto;
        width: 30vw;
        object-fit: contain;
    }
}